{% if config.plugins.admin.logo_text %}
<h3>
	<a href="{{ base_url_relative }}">
		{{ config.plugins.admin.logo_text }}
	</a>
	<a class="front-end hint--left" data-hint="{{ "PLUGIN_ADMIN.VIEW_SITE_TIP"|tu }}" target="_blank" href="{{ base_url_relative_frontend }}"> <i class="fa fa-bookmark-o"></i></a>
</h3>
{% else %}
<div class="admin-logo">
	<a href="{{ base_url_relative }}">
		<img class="admin-badge" src="/user/themes/patternlibrary/images/admin.svg" alt="admin" width="80%" style="margin-top:18px;">
	</a>
	<a class="front-end hint--left" data-hint="{{ "PLUGIN_ADMIN.VIEW_SITE_TIP"|tu }}" target="_blank" href="{{ base_url_relative_frontend }}"> <i class="fa fa-external-link"></i></a>
</div>
{% endif %}
