<div class="codepen-wrapper">
  <p data-height="{{height}}" data-theme-id="0" data-slug-hash="{{id}}" data-default-tab="{{defaultTab}}" data-user="{{user}}" data-embed-version="2" data-pen-title="{{title}}" data-preview="{{preview}}" class="codepen">{{content | markdown}}</p>
</div>